<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Fruit of the Day</title>
</head>
<body>
  <h1>Fruit of the Day</h1>
  <p>The fruit of the day is {{ fruit }}!</p>
  <p>
    <img src="/fruit-image.png" class="fruit-graphic"/>
  </p>
  <a href="/">Back Home</a>
</body>
</html>