<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome</h1>

  <nav>
    <ul>
      <li><a href="/basics/fruit-of-the-day">Fruit of the Day</a></li>
      <li><a href="/basics/math?word=Hello&num=12">MVC Basics</a></li>
      <li><a href="/handlebars/demo?sweet=no">Handlebars Syntax Basics</a></li>
      <li><a href="/handlebars/exercise?magical=no">Handlebars Syntax Basics (Exercise)</a></li>
      <li><a href="/exercise/show-form">Form Exercise: Show Form</a></li>
    </ul>
  </nav>
</body>
</html>