<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Handlebars Syntax Demo</title>
</head>
<body>
  <h1>Handlebars Syntax Demo</h1>
  
  <h2>Object: Address</h2>
  <p>
    Grand Circus' homebase is __street__ __city__, in the state of _____.
  </p>

  <h2>Array: Habitats</h2>
  <ol>
    <li></li>
  </ol>

  <h2>Array of Objects: Animals</h2>
  <ul>
    <li>__name__ is a __type__</li>
  </ul>

  <h2>Conditional If</h2>
  <p>Will we see anything here? Change the query string from ?magical=no to ?magical=yes</p>
  <p>
    It's magical!
  </p>

  <h2>Conditional If/Else</h2>
  <p>
    It's magical!  /  It's not magical.
  </p>

  <a href="/">Back Home</a>
</body>
</html>